Source: smb-zfs
Section: python
Priority: optional
Maintainer: Nils Stein <github.nstein@mailbox.org>
Build-Depends:
    debhelper-compat (= 13),
    dh-python,
    pybuild-plugin-pyproject,
    git-buildpackage,
    python3-all,
    python3-setuptools,
    python3-setuptools-scm
Standards-Version: 4.6.2
Homepage: https://github.com/mietzen/smb-zfs
Vcs-Git: https://salsa.debian.org/debian/smb-zfs.git
Vcs-Browser: https://salsa.debian.org/debian/smb-zfs

Package: python3-smb-zfs
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: A command-line tool for simplifying Samba share management on ZFS-backed systems.
    smb-zfs automates the setup and administration of users, groups, and shares, ensuring Samba and ZFS configurations remain synchronized.
    It provides a reliable interface for common administrative tasks through two modes: a standard CLI smb-zfs for scripting and an interactive wizard smb-zfs wizard for guided setup.
